.header-cart#cartModal(aria-hidden="true")
    .header-cart__content.animate(role="dialog", aria-modal="true", aria-labelledby="cartTitle")
        span.header-cart__btn-close#closeCartBtn
        h2.header-cart__title#cartTitle Корзина
        .header-cart__list#cartList
            p.header-cart__message Загрузка корзины...
        .header-cart__footer#cartFooter
