.headline {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: rem(-8);

  &__title {
    padding-bottom: rem(12);
    position: relative;
    color: #3b3b3b;
    @include advFont(36, 18);
    font-weight: 400;
    line-height: 40px;

    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: rem(-1);
      height: rem(1);
      width: 100%;
      background-color: #ff8500;
    }
  }

  &__link {
    &-item {
      padding: rem(13);
      color: black;
      font-family: $mainFont;
      @include advFont(14, 12);
      font-weight: 400;
      line-height: 40px;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
    &-arrow {
      color: #ff8500;
    }
  }
}
