@import "__actions/header-actions";
@import "__contacts/header__contacts";
@import "__logo/header__logo";
@import "-modal/header-modal";

.header {
  display: grid;
  grid-template-areas: "headerLogo headerContacts headerActions";
  grid-template-columns: 25.5% 2fr 1fr;
  grid-template-rows: 1fr;
  place-items: center start;
  grid-row-gap: 0;
  margin-top: rem(-7);

  @media screen and (max-width: 1260px) {
    grid-template-columns: 0.7fr 2fr 1fr;
    grid-row-gap: 0;
  }
  @media screen and (max-width: 1140px) {
    grid-template-areas:
      "headerLogo headerContacts"
      "headerLogo headerActions";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 32px;
    place-items: center center;
  }

  @media screen and (max-width: 960px) {
    grid-template-areas:
      "headerLogo"
      "headerContacts"
      "headerActions";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 32px;
  }

  @media screen and (max-width: 420px) {
    grid-row-gap: 20px;
  }
}

.header__logo {
  grid-area: headerLogo;
}

.header__contacts {
  grid-area: headerContacts;
}

.header-actions {
  grid-area: headerActions;
}
