.footer-bottom__block
    a(href="#").prevent-link
        img(src="./assets/img/footer/logo.svg", alt="footer logo").footer-bottom__logo
    hr.footer-bottom__line
    p.footer-bottom__copy © Copyrith 2017. Тестовое задание Wezom