.contacts
    .contacts__phone
        a(href="tel:+380 98 170 00 740").contacts__link +380 98 170 00 740
    .contacts__phone
        a(href="tel:+380 98 170 00 740").contacts__link +380 98 170 00 740
    button.btn.contacts__btn#enterContactsBtn
        img(src="./assets/img/header/phone_icon.svg", alt="call back button").btn__icon.btn__icon_small
        | Перезвонить мне