@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";
@import "../../blocks/layout/blocks";

html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;

  // @media screen and (max-width: $desktopWidth) {
  // 	font-size: 18px;
  // }
  // @media screen and (max-width: $tableWidth) {
  // 	font-size: 16px;
  // }
  // @media screen and (max-width: $phoneWidth) {
  // 	font-size: 12px;
  // }
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  transition: all 0.2s ease-in-out;

  &:hover {
    transition: all 0.2s ease-in-out;
  }
}

button {
  transition: all 0.2s ease-in-out;

  &:hover {
    transition: all 0.2s ease-in-out;
  }
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

input[type="text"]::-ms-clear {
  display: none;
}

input[type="password"]::-ms-reveal {
  display: none;
}
input[type="email"]::-ms-reveal {
  display: none;
}


select,
option {
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
}

option {
  outline: none;
}

// section, .section {
//   position: relative;
//   padding: 40px 0;

//   @media screen and (max-width: $desktopWidth) {
//     padding: 36px 0;
//   }
//   @media screen and (max-width: $desktopWidth) {
//     padding: 28px 0;
//   }
//   @media screen and (max-width: $desktopWidth) {
//     padding: 20px 0;
//   }
// }

// .wrapper {
//   display: flex;
//   flex-direction: column;
//   margin: 0 auto;
//   min-height: 100vh;
// }

// .content-wrapper {
//   display: flex;
//   flex-direction: column;
//   min-height: 100vh;
// }

.container {
  width: 100%;
  margin: 0 auto;
  max-width: $desktopWidth;

  // @media screen and (max-width: $smDesktopWidth) {
  //   max-width: tableWidth;
  // }
  // @media screen and (max-width: $tableWidth) {
  //   max-width: phoneWidth;
  // }
  // @media screen and (max-width: $phoneWidth) {
  //   max-width: smPhoneWidth;
  // }
}

.animate {
  animation: animatezoom 0.3s;
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

#wrapper {
  display: grid;
  grid-template-areas:
    "nav nav nav nav"
    "header header header header"
    "main main main main"
    "products products products products"
    "footer footer footer footer";
  grid-template-rows: 50px 50px 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 38px;
  grid-column-gap: 20px;
  height: 100vh;
  margin: 0 auto;

  @media screen and (max-width: 1140px) {
    grid-template-rows: 50px 164px 1fr 1fr 1fr;
    grid-row-gap: 30px;
  }
  @media screen and (max-width: 960px) {
    grid-template-rows: 50px 1fr 1fr 1fr 1fr;
    grid-row-gap: 20px;
  }
  @media screen and (max-width: 522px) {
    grid-template-rows: 50px 1fr 1fr 1fr 1fr;
  }
}

#nav {
  grid-area: nav;
}

#header {
  grid-area: header;
}

#main {
  grid-area: main;
}

#products {
  grid-area: products;
}

#footer {
  grid-area: footer;
}
