include __marker/products__marker
include __title/products__title
include __description/products__description
include __content/products__content
include __prices/products__prices
include __button/products__button
include -add/products-add

mixin products-item (subtitle, feedback, num, checked, labels, image, stickers, activePrice, disablePrice, dataId, compareId, wishId)
    .products__item
        +products-marker
        +products-title (subtitle)
        +products-description (feedback, num, checked)
        +products-content (labels, image, stickers)
        +products-prices (activePrice, disablePrice)
        +products-btn (dataId)
        +products-add (compareId, wishId)
