@import "__marker/products__marker";
@import "__title/products__title";
@import "__description/products__description";
@import "__content/products__content";
@import "__prices/products__prices";
@import "__button/products__button";
@import "-add/products-add";

.products__item {
  padding: 20px 9px 15px;
  display: grid;
  grid-template-rows: 22px 50px 19px 251px 34px 50px 33px;
  grid-row-gap: 13px;

  &:nth-child(1),
  &:nth-child(2) {
    @media screen and (max-width: 1240px) {
      border-bottom: 1px solid #dbdbdb;
    }
  }
  &:not(:last-child) {
    @media screen and (max-width: 360px) {
      border-bottom: 1px solid #dbdbdb;
    }
  }

  &:not(:first-child) {
    border-left: 1px solid #dbdbdb;
  }
  &:nth-child(2) {
    padding: rem(20) rem(12) rem(15);
  }
  &:nth-child(3) {
    padding: rem(20) rem(7) rem(15) rem(16);
    @media screen and (max-width: 640px) {
      border-bottom: 1px solid #dbdbdb;
    }
  }
  &:nth-child(4) {
    padding: rem(20) rem(1) rem(15) rem(24);
  }
  &:nth-child(n) {
    @media screen and (max-width: 1240px) {
      padding: rem(20) rem(50) rem(15);
    }
    @media screen and (max-width: 980px) {
      padding: rem(20) rem(25) rem(15);
    }
    @media screen and (max-width: 870px) {
      padding: rem(15) rem(5);
    }
    @media screen and (max-width: 640px) {
      padding: rem(15) rem(25);
    }
    @media screen and (max-width: 360px) {
      padding: rem(15) rem(5);
    }
  }
}
