@import "search-form/search-form";
@import "__form/tab__form";
@import "__links/tab__links";
@import "__items/tab__items";

.tabs {
  margin-top: rem(20px);
  background-color: dimgrey;
  display: grid;
  grid-row-gap: 23px;
}
