.footer-bottom__advert.advert
    a(href="#").advert__link.prevent-link
        img(src="./assets/img/footer/logo_min.svg", alt="advertising logo").advert__logo
    hr.advert__line
    .advert__content
        p.advert__desc Разработка тестового
        a(href="#").advert__link.prevent-link Wezom Agency
