@import "./footer__item/footer__item.scss";
.footer__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  @media screen and (max-width: 480px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
