include __item/products__item

.products__items
    +products-item('FA 12 Readymix 1 л Concentrat, Germany', 'Отзывы (10)', 1, [true, false, false, false, false], [{img: 'sun', title:'Летняя'}, {img:'car', title:'Легковая'}, {img:'label', title:'Новая'}], 1, [{mod: 'new', val: 'Новинка'}, {mod: 'hit', val: 'Хит'}, {mod: 'disc', val: 'Скидка'}], '599', '1 250 грн', 1, 5, 9)
    +products-item('FA 12 Readymix 1 л Concentrat, Germany', 'Отзывы (10)', 2, [false, false, true, false, false], [{img: 'sun', title:'Летняя'}, {img:'label', title:'Новая'}], 2, [{mod: 'new', val: 'Новинка'}, {mod: 'hit', val: 'Хит'}], '599', '1 250 грн', 2, 6, 10)
    +products-item('FA 12 Readymix 1 л Concentrat, Germany', 'Без отзывов', 3, [false, false, false, false, false], [{img: 'sun', title:'Летняя'}, {img:'car', title:'Легковая'}, {img:'label', title:'Новая'}], 3, [{mod: 'new', val: 'Новинка'}], '9 570', '11 250 грн', 3, 7, 11)
    +products-item(false, 'Отзывы (10)', 4, [true, false, false, false, false], [{img: 'sun', title:'Летняя'}, {img:'car', title:'Легковая'}], 4, false, '599', false, 4, 8, 12)
