@import "./footer-top/footer-top.scss";
@import "./footer-bottom/footer-bottom.scss";
#footer {
  background-color: #696969;
}
.footer {
  margin-top: rem(22);

  &__line {
    opacity: 0.1;
    background-color: rgb(219, 219, 219);
  }
}
