.header-favorites#favoritesModal(aria-hidden="true")
    .header-favorites__content.animate(role="dialog", aria-modal="true", aria-labelledby="favoritesTitle")
        span.header-favorites__btn-close#closeFavoritesBtn
        h2.header-favorites__title#favoritesTitle Избранное
        .header-favorites__list#favoritesList
            p.header-favorites__message Загрузка избранного...
