mixin products-btn (dataId)
    button.btn.products__btn(data-id= dataId)
        img.products__btn-img(src="./assets/img/products/basket_icon.svg", alt="basket icon")
        span.products__btn-txt| Купить товар