mixin footer-item(title)
    .footer__item.item
        .footer__caption
            h2.footer__title= title
        ul.footer-links
            each item in ['Ссылка 1', 'Ссылка 2', 'Ссылка 3', 'Ссылка 4']
                li.footer-links__item
                    a(href="#").footer__link.prevent-link= item
