.header-modal
    .header-modal__content.animate
        span.header-modal__btn_close#closeHeaderBtn
        h2.header-modal__title Перезвоните мне
        form(action="", method="get").header-modal__form#headerForm
            label(for="phoneField").form__label.header-modal__label Номер телефона
            input(type="tel", name="phoneField", id="phoneField" placeholder= "+38(0__)___-__-__" autocomplete="off").header-modal__input
            button(type="submit").btn.header-modal__btn#submitHeaderBtn Перезвонить мне