.footer-bottom {
  &__item {
    margin-right: rem(10);
  }
  &__links {
    display: flex;
    align-items: center;
    padding-left: rem(10);
    @media screen and (max-width: 860px) {
      justify-content: center;
    }
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(49);
    height: rem(49);
    border: 1px solid #7b8092;
    &:hover {
      border: 1px solid #ffc925;
      & .footer-bottom__icon {
        color: #ffc925;
        transition: all 0.2s ease-in-out;
      }
    }
  }
  &__icon {
    color: white;
    transition: all 0.2s ease-in-out;
  }
}
