ul.footer-bottom__links
    each icon in ['fa-vk', 'fa-facebook-f', 'fa-twitter', 'fa-youtube']
        li.footer-bottom__item
            a(href="#").footer-bottom__link.prevent-link
                i.fab(class= icon).footer-bottom__icon