form(action="", method="GET").form.modal__form#navForm
    h2.nav-modal__title Вход в личный кабинет
    include __items/form__items
    include __restore/form__restore
    include __register/form__register
    button(type="submit").form__btn#submitNavBtn Войти в личный кабинет
