@import "./footer__content-block/footer__content-block.scss";
@import "./footer__items/footer__items.scss";

.footer-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: rem(25);

  @media screen and (max-width: 1024px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}
