.header-actions {
  display: flex;
  align-self: center;

  &__label {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: -41%;

    &-content {
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      text-align: center;
      color: white;
      font-size: rem(11);
      font-weight: 400;
      line-height: 20px;
      text-transform: uppercase;
    }
  }
  &__item {
    position: relative;
    text-align: center;
    padding: 0 rem(23);
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 1200px) {
      padding: 0 rem(15);
    }
  }
  &__icon {
    padding-bottom: rem(5);
  }
  &__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    color: #3d3d3d;
    font-size: rem(10);
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
  }

  &__border {
    width: 1px;
    background-color: #e4e4e4;
  }
}

#cartLabel,
#compareLabel,
#wishLabel {
  display: none;
}
