ul.header-actions
    li.header-actions__item
        .header-actions__label#compareLabel
                img(src="./assets/img/header/label.svg", alt="label icon")
                span.header-actions__label-content
        button.header-actions__button
            img(src="./assets/img/header/сompare_icon.svg", alt="сompare icon").header-actions__icon
            | Сравнение
    li.header-actions__border
    li.header-actions__item
        .header-actions__label#wishLabel
                img(src="./assets/img/header/label.svg", alt="label icon")
                span.header-actions__label-content
        button.header-actions__button
            img(src="./assets/img/header/favorites_icon.svg", alt="favorites icon").header-actions__icon
            | Избранное
    li.header-actions__border
    li.header-actions__item
        .header-actions__label#cartLabel
            img(src="./assets/img/header/label.svg", alt="label icon")
            span.header-actions__label-content
        button.header-actions__button
            img(src="./assets/img/header/cart_icon.svg", alt="cart icon").header-actions__icon
            |Корзина
