@import "__button/nav__button";
@import "burger/burger";
@import "-modal/nav-modal";

#nav {
  background-color: #696969;
}
.nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  &__list {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    &.open {
      margin-top: 0;
    }

    @media screen and (max-width: 767px) {
      flex-flow: column wrap;
      background-color: #696969;
      position: absolute;
      z-index: 50;
      min-width: 100%;
      margin-top: -100%;
      transition: all 0.3s linear;
    }
  }

  &__link {
    display: block;
    padding: rem(14) rem(18);
    border-bottom: 2px solid transparent;
    font-size: rem(12);
    text-transform: uppercase;
    color: #c2c2c2;

    &--active {
      border-bottom: 2px solid #ffc925;
      color: white;
    }
    &:hover,
    &--active {
      color: white;
    }
  }

  &__item:first-child .nav__link {
    margin-left: rem(-16);

    @media screen and (max-width: 767px) {
      margin-left: 0;
    }
  }
}
