@import "./footer-bottom__advert/footer-bottom__advert.scss";
@import "./footer-bottom__block/footer-bottom__block.scss";
@import "./footer-bottom__links/footer-bottom__links.scss";

.footer-bottom {
  display: grid;
  grid-template-columns: 1.5fr 1fr 0.5fr;
  padding: rem(18) 0 rem(7);

  @media screen and (max-width: 1240px) {
    grid-template-columns: 1.7fr 0.9fr 1fr;
  }
  @media screen and (max-width: 860px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 20px;
  }
}
