.tab-content
    form(action="#", method="get" data-tab="2").tab__form.tab-content__item.active.js-tab-content#tabForm
        include __selects/tab__selects
        include __button_clear/tab__button_clear
        include __button_apply/tab__button_apply
    .tab-content__item.js-tab-content(data-tab='1')
        .tab__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus deserunt ab expedita, nam possimus qui, id corrupti non suscipit minima consequuntur officia, repellendus facilis omnis voluptate consectetur quo optio ipsum!
