extends ../layout/main

block variables
  - var title = 'WezomTest';
  - var description = 'front-end-developing test';
  - var pageClass = 'index-page';

block script
  script(src="https://kit.fontawesome.com/13fd77a47d.js" crossorigin="anonymous")
  script(src='https://unpkg.com/imask')
