extends ../layout/main

block variables
  - var title = 'Товар | Auto Shop';
  - var description = 'Карточка товара Auto Shop';
  - var pageClass = 'product-page';

block content
  main#main
    .container
      section.product-page__section
        #productDetail

block script
  script(src="https://kit.fontawesome.com/13fd77a47d.js" crossorigin="anonymous")
  script(src='https://unpkg.com/imask')
