.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: uppercase;
  background-color: #ff8900;

  &:hover {
    background-color: #f8a547;
  }

  &__text {
    letter-spacing: rem(-1);
    font-size: rem(12);
  }

  &__icon {
    padding-right: rem(10);
  }
}

.header-topline__btn {
  min-width: rem(122);
}
