.nav-account#navAccount
    button.btn.header-topline__btn#enterNavBtn(type="button")
        img(src="./assets/img/header/login_icon.svg", alt="login button").btn__icon
        span.btn__text| Вход
    button.btn.header-topline__btn.header-topline__btn--logout#logoutNavBtn(type="button")
        span.btn__text| Выйти
    span.nav-account__user#currentUserName
