.social {
  padding: rem(25) rem(38);
  width: 100%;
  order: 3;

  @media screen and (max-width: 787px) {
    order: 1;
  }

  &__links {
    margin-top: rem(40);

    @media screen and (max-width: 787px) {
      margin-top: 0;
    }
  }

  &__link {
    display: block;
    color: white;
    font-size: rem(14);
    font-weight: 400;
    line-height: 50px;
    text-align: center;
    margin-top: rem(24);

    &_facebook {
      background-color: #3b5998;

      &:hover {
        background-color: hsla(221, 44%, 41%, 0.85);
      }
    }
    &_twitter {
      background-color: #41abe1;

      &:hover {
        background-color: rgba(65, 172, 225, 0.85);
      }
    }
    &_google {
      background-color: #ea4335;

      &:hover {
        background-color: rgba(234, 67, 52, 0.85);
      }
    }
  }
  &__icon {
    padding-right: rem(12);
  }
}
