.modal__social.social
    h2.nav-modal__title Войти с помощью
    ul.social__links
        li.social__item
            a(href="https://www.facebook.com" target='_blank').social__link.social__link_facebook #[i.fab.fa-facebook-f.social__icon] Facebook
        li.social__item
            a(href="https://twitter.com" target='_blank').social__link.social__link_twitter #[i.fab.fa-twitter.social__icon] Twitter
        li.social__item
            a(href="https://accounts.google.com" target='_blank').social__link.social__link_google #[i.fab.fa-google.social__icon] Google