.subscribe-form__modal#subscribeModal
	.subscribe-form__modal-content.animate
		span.subscribe-form__btn-close#closeSubscribeModalBtn
		h1.subscribe-form__modal-desc Вы подписаны на рассылку
		button#submitSubscribeBtn.btn.subscribe-form__button(type='submit') Ок