.price.tab__price#tabPrice
    span.price__title Цена
    .price__item
        label.price__line(for="startPrice")
        input.price__input#startPrice(type='text' placeholder='50' name='startPrice')
    .price__item
        label.price__line(for="endPrice")
        input.price__input#endPrice(type='text' placeholder='25000' name='endPrice')
