.form__item
    label(for="emailField").form__label Ваш email
    input(type="text", name="emailField", id="emailField" placeholder= "mikel_ivanov98@gmail.com" autocomplete = 'on').form__input
    i.fas.fa-check
.form__item
    label(for="passField").form__label Пароль
    input(type="password", name="passField" id='passField' placeholder= "*************" autocomplete = 'on').form__input
    i.fas.fa-check