form(action="", method="get").search-form
    input(type='text' name='search' placeholder='Поиск по сайту').search-form__input
    .search__selects
        select(aria-labelledby='jobLabel' name='category' data-placeholder='Все категории').search__select_native.js-selectNative
            option(value='' selected='') Все категории
        .search__select_custom.js-selectCustom(aria-hidden='true')
            .search__trigger Все категории
            .search__options
    button(type='submit').btn.search-form__btn Поиск
